{% extends 'base.html' %}



{% block head %} 

    <title>Página Inicial</title>

    <style>
        body {
            margin: 0%; 
            padding: 0%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    </style>
{% endblock %}




{% block body %}

    <h1>Teste página inicial</h1>

    <hr>

    <table class="table-primary">
        <thead>
            <tr>
                <th class="col">Nome</th>
                <th class="col">Perfil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Guilherme</td>
                <td>ADMIN</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
